body {
    background-color: wheat;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
/*NAVIGATOR*/
nav {
    position: absolute;
    background-color: teal;
    width: 40px;
    height: 40px;
    top: 0px;
    border-radius: 50px;
    overflow: hidden;
    padding: 0px;
    padding-left:0px ;
    opacity: 0.6;
    left: 8px;
}
nav:hover {
 animation-name: home;
 animation-duration: 2s;
 animation-iteration-count: infinite;
}
@keyframes home 
{
    0% {
        width: 180px;
        height: 180px;
    }
    100% {
        width: 182px;
        height: 182px;
    }
}
#menu {
    position: absolute;
    left: 1.5px;
    top :1px;
    font-size: 20px;
    color: wheat;
}
nav ul {
    list-style: none;
    display: inline-block;
    margin: 8px 0px 0px 8px  ;
}
nav ul li {
    margin: 5px 10px 5px 10px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    margin-bottom: 7px;
}
nav ul li:hover {
    transform: scale(1.2);
}
nav ul li a:hover {
    color: wheat;
    margin-bottom: 10px;
}
/*NAVIGATOR*/
/*DAY*/
#dayConv {
    width: 600px;
    height: 300px;
    background-color: teal;
    opacity: 0.6;
    margin-left:30% ;
    margin-top:10% ;
    overflow: auto;
    border-radius: 8px;
    text-align: center;
    padding-left: 30px;
}
#dayConv select {
    margin: 40px 5px 0px 5px;
    width: 100px;
    background-color: wheat;
    color: black;
}
.button {
    color:black;
    margin-top: 20px;
    background-color: wheat;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
/*DAY*/